@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&family=Noto+Sans+KR&family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* navbar section styling */

nav {
  height: 50px;
  width: 100%;
  background-color: #000;
}

.navlink {
  display: flex;
  float: right;
  margin-right: 1.5rem;
}

.navlink li {
  list-style: none;
  padding: 1rem 1.5rem;
  font-family: "Baloo Tammudu 2", cursive;
}

.navlink li a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  transition: 0.3s all ease-in-out;
}

.navlink li a:hover {
  color: crimson;
  text-decoration: overline;
}

/* home section styling */

.home {
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  background: url("images/bg5.jpg") no-repeat center;
}

.home .home-content {
  font-family: "Noto Sans KR", sans-serif;
}

.home-content h1 {
  font-size: 87px;
  padding: 14rem 0 0.7rem 10rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

.home-content p {
  font-size: 42px;
  padding: 0 0 0 10rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

/* about section styling */

.about {
  background: url("images/bg5.jpg") no-repeat center;
  height: 719px;
  width: 100%;
  background-size: cover;
}

.about .about-content {
  display: flex;
  align-items: center;
}

.about .title {
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 70px;
  padding: 45px 0;
  font-family: "Baloo Bhai 2", cursive;
  margin-bottom: 3rem;
}

.about .max-width {
  padding: 0 80px;
  margin: auto;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 390px;
  object-fit: cover;
  border-radius: 101px;
}

.about .about-content .right {
  padding: 0 0 0 9rem;
}

.about .about-content .right p {
  font-weight: bold;
  font-size: 27px;
  color: #ffffff;
}

/* skills section styling */

.skills {
  background: url("./images/bg5.jpg") no-repeat center;
  height: 730px;
  width: 100%;
}

.skills .title {
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 59px;
  font-weight: 600;
  padding: 40px 0 20px 0;
  font-family: "Baloo Bhai 2", cursive;
}

.skills .skills-content .center img {
  height: 530px;
  object-fit: cover;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Contact section styling */

.contact {
  background: url("./images/contact2.jpg") no-repeat center center/cover;
  height: 700px;
  width: 100%;
}

.contact .max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.contact .title {
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 59px;
  font-weight: 600;
  padding: 49px;
  font-family: "Baloo Bhai 2", cursive;
}

.contact .contact-content .left p {
  font-size: 30px;
  font-weight: 700;
  padding: 0px;
  margin-top: 23px;
  margin-bottom: 5px;
  text-align: center;
  height: 51px;
}

.contact .contact-content .left .icons {
  margin: 44px 0;
  justify-content: center;
  text-align: center;
  margin-right: 592px;
  display: flex;
  flex-direction: column;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 58px;
  margin-top: -66px;
  font-size: 17px;
  padding: 29px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head {
  font-weight: bold;
}

.contact .contact-content .info .head-2 {
  font-weight: bold;
  margin-left: 11px;
}

.contact .contact-content .info .sub-title-1 {
  color: darkblue;
  font-weight: 700;
  margin-left: 62px;
}

.contact .contact-content .info .sub-title-2 {
  color: darkblue;
  font-weight: 700;
  margin-left: 96px;
}

.contact .contact-content .info .sub-title-3 {
  color: darkblue;
  font-weight: 700;
  margin-left: 178px;
}

.contact .contact-content .left .icons .social-media-icons .centerdiv {
  margin: -31px;
  margin-left: 573px;
}

.contact .contact-content .left .icons .social-media-icons .centerdiv a {
  height: 63px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 105px;
  text-align: center;
  margin: -9px;
  line-height: 77px;
  box-shadow: 1px 4px 2px 2px;
  padding: 36px;
}

.contact .contact-content .left .icons .social-media-icons .centerdiv a i {
  transition: all 0.3s linear;
}

.contact
  .contact-content
  .left
  .icons
  .social-media-icons
  .centerdiv
  a:hover
  i {
  transform: scale(2, 2);
}

.contact
  .contact-content
  .left
  .icons
  .social-media-icons
  .centerdiv
  .fa-facebook {
  color: rgb(37, 73, 172);
}

.contact
  .contact-content
  .left
  .icons
  .social-media-icons
  .centerdiv
  .fa-instagram {
  color: #e84393;
}

.contact
  .contact-content
  .left
  .icons
  .social-media-icons
  .centerdiv
  .fa-github {
  color: #2d2323;
}

.contact
  .contact-content
  .left
  .icons
  .social-media-icons
  .centerdiv
  .fa-linkedin {
  color: #0097e6;
}

.footer-content {
  height: 40px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.footer-content p {
  text-align: center;
  font-size: 18px;
  padding-top: 0.3rem;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.fa-heart {
  color: red;
}

/* Media Queries Start */

@media only screen and (max-width: 600px) {
  /* Navbar Responsive Styling Starts*/

  nav {
    height: 50px;
    width: 100%;
    background-color: #000;
    position: fixed;
  }

  .navlink {
    display: flex;
    float: right;
  }

  .navlink li {
    list-style: none;
    padding: 1rem 1rem 0 0;
    font-family: "Baloo Tammudu 2", cursive;
  }

  .navlink li a {
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    transition: 0.3s all ease-in-out;
  }

  .navlink li a:hover {
    color: crimson;
    text-decoration: overline;
  }

  /* Home Responsive Styling Starts */

  .home {
    height: 720px;
    width: 100%;
  }

  .home-content h1 {
    font-size: 52px;
    padding: 13rem 0rem 0 1rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
  }

  .home-content p {
    font-size: 25px;
    padding: 4rem 0rem 0 1rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  /* About Responsive Styling Starts */

  .about {
    height: 800px;
    width: 100%;
    background-size: cover;
  }

  .about .title {
    font-size: 45px;
    margin-right: 10px;
    font-family: "Baloo Bhai 2", cursive;
  }

  .about .max-width {
    padding: 0 1px;
  }

  .about .about-content .left {
    width: 45%;
  }

  .about .about-content .left img {
    position: absolute;
    height: 280px;
    width: 270px;
    top: 56rem;
    left: 45px;
  }

  .about .about-content .right {
    padding: 0 0 0 1rem;
  }

  .about .about-content .right p {
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    margin-top: 250px;
    margin-right: 30px;
    line-height: 35px;
  }

  /* Skills Responsive Styling Starts */

  .skills {
    height: 300px;
    width: 100%;
  }

  .skills .title {
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0 10px 0;
    font-family: "Baloo Bhai 2", cursive;
  }

  .skills .skills-content .center img {
    height: 180px;
    border-radius: 10px;
    width: 73%;
  }

  /* Footer Responsive Styling Starts */

  .contact {
    height: 700px;
    width: 100%;
    background-image: none;
    background: rgb(224, 220, 220);
  }

  .contact .max-width {
    padding: 19px 10px;
    margin: auto;
  }

  .contact .title {
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-weight: 600;
    padding: 15px 15px 1rem 8px;
    font-family: "Baloo Bhai 2", cursive;
  }

  .contact .contact-content .left p {
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
  }

  .social-media-icons {
    margin-top: 80px;
  }

  .contact .contact-content .left .icons .social-media-icons .centerdiv {
    margin-left: 130px;
  }

  .contact .contact-content .left .icons .social-media-icons .centerdiv a {
    font-size: 20px;
  }

  .contact .contact-content .left .icons .social-media-icons .centerdiv a i {
    transition: all 0.3s linear;
  }

  .footer-content {
    height: 40px;
    width: 100%;
    background-color: #000;
    color: #fff;
  }

  .footer-content p {
    text-align: center;
    font-size: 15px;
    padding-top: 0.5rem;
    word-spacing: 5px;
  }
}
